body {
    background-size: cover;
    background-position: center center;
    display: flex;
    color: #fff;
    background-color: #1F2128;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

@keyframes animate {
  from {
    filter: hue-rotate(0deg);
  }
  to {
    filter: hue-rotate(360deg);
  }
}


  /* border */
  .border {
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      padding: 39px 27px;
      width: 100%;
      max-width: 35.9rem;
      border-radius: 35px;
      background-color: rgba(19, 19, 19, 0.75) !important;
  }
      
  @media (max-width : 480px) {
      .border {
          left: 50%;
          padding: 0px, 0px;
          width: 80%;
          max-width: 100%;
          border-radius: 21px;
      }
  }

.social-media {
      text-align: center;
      position: relative;
  }
  
  .description {
      font-size: 17px;
      
      color: #fff;
      margin: 20px 0;
  }
  
  .username {
      color: #777777;
      font-size: 30px;
      margin-right: 10px;
      
      font-weight: bold;
      text-shadow: 0 0 10px rgba(150, 47, 191, 0.7), 0 0 20px rgba(255, 0, 80, 0.7), 0 0 30px rgba(0, 242, 234, 0.7);
      animation: username 13s infinite;
  }
.avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    -o-object-fit: cover;
    object-fit: cover;
    margin: 0 auto;
}

