body {
    background-size: cover;
    background-position: center center;
    display: flex;
    color: #fff;
    background-color: #1F2128;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.introduction {
  text-align: center;
}
